@{
    ViewBag.Title = "AboutUs";
}
<div class="container-fluid" style="margin-bottom:50%">
<h1>ABOUT US</h1><br/>
<p> I am from PUCIT batch F12 and this is my EAD Final Project</p>

</div>


















@*A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/

<!DOCTYPE html>
<html>
<head>
    <title>ABC_COMPANY | About :: w3layouts</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="header-bot">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <div class="cart">
                    <ul class="ph-no">
                        <li class="item  first_item">
                            <div class="item_html">

                            </div>
                        </li>
                    </ul>
                    <div id="top-search">
                        <form method="get" action="http://livedemo00.template-help.com/jigoshop_45422/">
                            <input type="text" name="s" class="input-search"><input type="submit" value="Search" id="submit">
                        </form>
                    </div>
                    <div class="menu-main">
                        <ul class="dc_css3_menu">
                            <li><a href="/Home/Index">Home</a></li>
                            <li class="active"><a href="#">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="/Home/Contact">Contact</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">
                <div class="heading">
                    <h3>About Us</h3>
                    <p>
                        We will be successful because we offer something different; a pleasant car buying experience. We will create a purchasing environment that caters to the customer's needs. We are selling a professional service and an experience in car buying that will bring customers back again, as well as referring friends and family. We estimate an optimistic gross margin over the industry average. We will be successful because of the excellent team we have assembled and the drive and determination of the owners.
                    </p>

                    <p>
                        Integrity Auto Sales provides a unique car buying experience to the customers in the Willamette Valley. One that focuses on customer satisfaction first. We understand that vehicle purchasing is a necessary, but sometimes unpleasant experience. Our goal is to provide the customer with an enjoyable, honest service by satisfying individual customers practical transportation needs with a quality product.

                        We also believe it is important to have quality vehicles at a low cost, and will back each vehicle with a 30 day limited warranty. Our company will make a profit by generating sales. It will provide job satisfaction and fair compensation to its employees, and a fair return to its owners. Hard work and performance is rewarded through bonuses and commissions. Job satisfaction is very important for employees and owners, we will create a work environment that is enjoyable and profitable for all.
                    </p>



                </div>
                <div class="about-top">
                    <div class="about-topgrids">
                        <div class="about-topgrid1">
                            <h3>Looking for a car</h3>
                            <img src="images/new.jpg" title="name">
                            <h5>HOW TO BUY A CAR </h5>
                            <p>The first thing to consider is the type of vehicle the buyer is looking for. A parent would be interested in lots of room and safety for their children, so he or she may look for a minivan. On the other end, most teenagers are attracted to fast and flashy sports cars, but many can only afford old clunkers. Some things that may determine what kind of car is needed may include the number of passengers that will be riding in the vehicle, what the vehicle will be used for, how often it will be driven, how much storage space will be needed, and what the vehicle looks like.</p>
                            <p>Next, the buyer should decide on the amount they are willing to pay for the car that they want. Looking at local dealerships, classified ads, and even the internet can offer a good representation of how much this type of vehicle will cost, as well as helping the buyer determine how much he or she wants to pay. Looking at current income and calculating payments and interest is extremely helpful in this stage</p>
                            <p>After the style of car and price range have been determined, there is still more research to be done. Most people like the feeling of knowing they are safe in the vehicle that they are driving. Therefore, the buyer should research the safety ratings and crash test results for the automobile they are looking to buy. This step can help narrow down the type of car to the make and model that is most desirable based on price and safety. Reliability of the car is another thing to investigate at this point, as no one wants a car that is frequen</p>
                            <p><a href="#" class="btn btn-primary">Read more</a></p>
                        </div>
                    </div>
                    <div class="about-histore">
                        <h3>Company Achievements </h3>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2011 &nbsp;-</span></li>
                                <li><p>Record sales for MINI</p></li>
                                <li><p>Best Selling Dealer in Asia Pacific</p></li>
                                <li><p>After-Sales Excellence for BMW in Shenzhen City</p></li>
                                <li><p>After-Sales Excellence for BMW in Guangzhou City</p></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2012 &nbsp;-</span></li>
                                <li><p>Top Selling Dealer 2012-1 Runner-Up</p></li>
                                <li><p>Best Selling Dealer in Asia Pacific</p></li>
                                <li><p>2012 Outstanding Apprentice And Trainee Awards</p></li>
                                <li><p>Best Performing Partner 2012</p></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2013 &nbsp;-</span></li>
                                <li><p>Australian International Design Award - 308 Touring, Automotive & Transport Category </li>
                                <li><p>Best Selling Dealer in Asia Pacific</p></li>
                                <li><p>Best Japanese Sports Car 2013</p></li>
                                <li><p>Capital Weekly Pro-choice award 2013 City</p></li>

                                <div class="clear"> </div>
                            </ul>

                        </div>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2014 &nbsp;-</span></li>
                                <li><p>2nd place of Part I—Customer View Point Highest Score of “Focus on the Customer - 2nd period” 2014</li>
                                <li><p>Best Selling Dealer in Asia Pacific</p></li>
                                <li><p>Best Japanese Sports Car 2014</p></li>
                                <li><p>2014 International Peugeot Parts and Service Challenge Winner</p></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2015 &nbsp;-</span></li>
                                <li><p>Volkswagen Outstanding Achievement Award 2015</p></li>

                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="about-services">
                        <h3>New Products Features</h3>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="images/pic3.jpg" title="cars"></a>
                            </div>
                            <div class="about-team-right">
                                <p>The Renegade has struts at all four corners providing a maximum 6.7 inches of wheel articulation in front and 8.1 inches in back. Ground clearance is only 6.7 inches for front-drivers, but 7.9 inches for four-wheel-drive models. ac</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="images/pic2.jpg" title="cars"></a>
                            </div>
                            <div class="about-team-right">
                                <p> Four-, six-, and eight-cylinder engines ranging from 2.0 liters to 6.2 liters, most with direct injection. At least one Hemi V-8 will continue, and a supercharged Hemi is a distinct possibility</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="images/pic1.jpg" title="cars"></a>
                            </div>
                            <div class="about-team-right">
                                <p>This will be the first four-wheel-drive variant of Fiat Chrysler’s “small-wide” platform, modified to endow the Renegade with real off-road capabilities that are sorely lacking in this segment.</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="images/pic9.jpg" title="cars"></a>
                            </div>
                            <div class="about-team-right">
                                <p>Significantly smaller and lighter than the current Chrysler 300–based Challenger, the Barracuda will sport a strut front suspension and multilink rear. </p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="images/pic12.jpg" title="cars"></a>
                            </div>
                            <div class="about-team-right">
                                <p>TThe Trailhawk pushes that to 8.7 inches and offers better approach, breakover, and departure angles than its “trail-rated” Cherokee sibling, not to mention the rest of the soft-roader class</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="footer-top">
                <div class="col_1_of_5 span_1_of_5">
                    <div class="footer-grid twitts">
                        <h3>Latest Tweets</h3>
                        <p><label>CARSALES</label></p>
                        <span>10 minutes ago</span>
                        <p><label>CARSALES</label></p>
                        <span>15 minutes ago</span>
                    </div>
                </div>
                <div class="col_1_of_5 span_1_of_5">
                    <div class="footer-grid center-grid">

                    </div>
                </div>
                <div class="col_1_of_5 span_1_of_5">
                    <div class="footer-grid twitts">
                        <h3>Our Company</h3>
                        <div class="f_menu">
                            <ul>
                                <li>Getting your dream car was never this easy. Personalized to perfectly suit your needs,.</li>
                                <li>Terms &amp; WE are offering affordable, tailor-made financing options along with special features to help you enjoy your most preferred car in no time</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col_1_of_5 span_1_of_5">
                    <div class="call_info">
                        <p class="txt_3">Call us toll free:</p>
                        <p class="txt_4">00 00 00  000</p>
                    </div>
                </div>
                <div class="col_1_of_5 span_1_of_5">
                    <div class="footer-grid twitts">
                        <h3>Get in touch</h3>
                        <ul class="follow_icon">
                            <li><a href="#" style="opacity: 1;"><img src="images/follow_icon.png" alt=""></a></li>
                            <li><a href="#" style="opacity: 1;"><img src="images/follow_icon1.png" alt=""></a></li>
                            <li><a href="#" style="opacity: 1;"><img src="images/follow_icon2.png" alt=""></a></li>
                            <li><a href="#" style="opacity: 1;"><img src="images/follow_icon3.png" alt=""></a></li>
                            <li><a href="#" style="opacity: 1;"><img src="images/follow_icon4.png" alt=""></a></li>
                            <li><a href="#" style="opacity: 1;"><img src="images/follow_icon5.png" alt=""></a></li>
                        </ul>
                        <p>+1 111-111-1111</p>
                        <span>support(at)carssale.com</span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="wrap">
            <p>Design by <a href="bitf12M(spm_group project)">bitf12M(spm_group project)</a></p>
        </div>
    </div>
</body>
</html>*@



