@{
    ViewBag.Title = "Index";
}

<!--Ads Here-->
<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/Asus-Zenbook-NX500-Closed-300x150.png" alt="">
            <div class="caption">
                <h4 class="pull-right">$24.99</h4>
                <h4>
                    <a href="#">Zen Book</a>
                </h4>
                <p>See more snippets like this online store item at .</p>
            </div>
        </div>

    </div>
    <!--2nd Ad-->
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/bigstock-Wireless-communication-concept-.png" alt="">
            <div class="caption">
                <h4 class="pull-right">$64.99</h4>
                <h4>
                    <a href="#">Dell i5</a>
                </h4>
                <p>this is good fast efficient good battery time not expensive.</p>
            </div>

        </div>
    </div>

    <!---->
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/macbook-300x150.png" alt="">
            <div class="caption">
                <h4 class="pull-right">$74.99</h4>
                <h4>
                    <a href="#">MacBook</a>
                </h4>
                <p>this is good fast efficient good battery time not expensive.</p>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/computers-300x150.png" alt="">
            <div class="caption">
                <h4 class="pull-right">$74.99</h4>
                <h4>
                    <a href="#">computer Apple</a>
                </h4>
                <p>this is good fast efficient good battery time not expensive.</p>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/bigstock-Wireless-communication-concept-.png" alt="">
            <div class="caption">
                <h4 class="pull-right">$74.99</h4>
                <h4>
                    <a href="#">Wireless</a>
                </h4>
                <p>this is good fast efficient good battery time not expensive.</p>
            </div>
        </div>
    </div>
    <!---->
</div>
